

</div>



    {#<footer class="footer text-right">#}
        {#2017 © | Soportado por: <a href="http://appsoga.com" target="_blank">AppSoga</a> | <img src="{{ asset('local/assets/images/logoGray.png') }}" style="height: 40px;" />#}
    {#</footer>#}

