{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="col-md-12">
        {{ notificar()|raw }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Enviar correo factura electronica</h4>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">

                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {{ form_widget(form.btnEnviar,{'attr':{'style':'float: right;'}}) }}
                <br/>
                <br/>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}




































