###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
/nbproject/private/
/nbproject/*
/.idea/
/.idea/*
composer.lock
symfony.lock
/config/packages/sensio_framework_extra.yaml