.tabla-datos {
    /*padding: 0px;*/
    /*margin: 0px;*/
    border: 1px solid #c9c9c9 !important;
    margin-bottom: 10px !important;
}

.tabla-datos > thead > tr > td, .tabla-datos > thead > tr > th {
    padding: 5px 4px !important;
    background-color: #e1e1e1;
    text-align: center;
    font-size: 11px !important;
}

.tabla-datos > tbody > tr > td, .tabla-datos > tbody > tr > th, .tabla-datos > tfoot > tr > td, .tabla-datos > tfoot > tr > th {
    padding: 2px 3px !important;
    font-size: 11px !important;
}

.tabla-datos > tbody > tr:hover{
    background-color: #e3e3e3 !important;
    color: #3276b1;
}

.numero{
    text-align: right !important;
}

/* Tabla información */
.tabla-informacion {
    border: 1px solid #bfbfbf !important;
    margin-bottom: 10px !important;
}

.tabla-informacion > thead > tr > td, .tabla-informacion > thead > tr > th {
    padding: 5px 4px !important;
    background-color: #e1e1e1;
    text-align: center;
    font-size: 11px !important;
}

.tabla-informacion > tbody > tr > td, .tabla-informacion > tbody > tr > th, .tabla-informacion > tfoot > tr > td, .tabla-informacion > tfoot > tr > th {
    padding: 3px 4px !important;
    font-size: 11px !important;
}

.tabla-informacion .titulo{
    font-weight: bold !important;
    color: #3b3b3b;
    background-color: #e3e3e3 !important;
}
