.table-oro{
    font-size: smaller;
    padding: 0;
}

.table-oro>tbody>tr>td{
    vertical-align: middle;
}

.table-oro>tbody>tr>td {
    padding: 4px;
}

#tarea-table>tbody>tr>td, #tarea-table > thead> tr{
    padding: 2px!important;
    vertical-align: middle!important;
    font-size: 12px;
    text-align: left;
}
#submit-filtro{
    margin: 5px
}
#submit-filtro > button{
    float: right!important;
}

/** paginador **/

.dataTables_paginate{
    text-align: left!important;
}

.dataTables_paginate > a, .dataTables_paginate > span > a{
    padding: 0px 3px 0px 3px;
    border: 2px solid;
    margin: 0px 6px;
    border-radius: 5px;
}

.dataTables_paginate > a:hover{
    cursor: pointer;
    background-color: #337ab7;
    color: #ffffff;
    border-color: #337ab7;
}
.dataTables_paginate > span > a:hover{
    cursor: pointer;
    background-color: #337ab7;
    color: #ffffff;
    border-color: #337ab7;
}


.paginate_button.current{
    background-color: #337ab7;
    color: #ffffff;
    border-color: #337ab7;
}
/*.dataTables_info{*/
    /*display: none;*/
/*}*/