<script src="https://cdn.auth0.com/js/lock/10.20/lock.min.js"></script>
<script>
var lock = new Auth0Lock('fiWzdmqAk6pQf4DWf9xBHPOM5ENuR6fr', 'testsogapp.auth0.com');


function signin() {
  lock.show({
      callbackURL: 'http://186.86.29.179/app_dev.php/github'
    , responseType: 'code'
    , authParams: {
      scope: 'ju4nr3v0l' //Details: https:///scopes
    }
  });
}
</script>

<button onclick="signin()">Login</button>