{% extends 'base.html.twig' %}
    {% block body %}

        {#inicio modal#}
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">

                    {% for comentario in comentarios %}
                    <div class="row">
                        <div class="custom-dd dd" >
                            <ul class="dd-list">
                                <li class="dd-item">
                                    <div class="col-md-4">
                                        <strong>Usuario: </strong>{{ comentario.codigoUsuarioFk }} -

                                        <strong>Fecha registro: </strong>{{ comentario.fechaRegistro|date('y-m-d')}}
                                    </div>
                                    <div class="col-md-12">
                                        <strong>Comentario: </strong>{{ comentario.comentario }}
                                    </div>
                                </li>
                             </ul>
                        </div>
                    </div>
                    {% endfor %}
                    {#fin modal#}
                </div>
            </div>
        </div>
    {% endblock %}
