{% extends 'base.html.twig' %}



{% block content %}
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Bordered</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered mb-none">
                        <thead>
                        <tr>
                            <th>Codigo Item</th>
                            <th>Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in arItems %}
                            <tr>
                                <td>{{ item.codigoItemPk }}</td>
                                <td>{{ item.descripcion }}</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}